// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i');
// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//navbar profile image
.icon {width: 2.5em; height: 2.5em;}
.iconDefault {font-size: 3vh; }
body {
    background-color: rgb(255, 250, 244);
    font-family: "Poppins", sans-serif;
    color: rgb(68, 68, 68);
}
//style recipes
.recipes {
    border: none;
    box-shadow: rgb(88, 87, 87) 0px 0px 7px;
    margin-bottom: 8vh;
}
.background-wines {
    background-color: rgb(255, 255, 255);
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
//cursive font
.satisfy-font {
    font-family: "Satisfy", sans-serif;
}
.margin {
    margin-top: 20vh;
}
a, a:hover {
    text-decoration: none;
    color: #ffb03b;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
// #hero {
//     width: 100%;
//     height: 100vh;
//     background-color: rgba(39, 37, 34, 0.8);
//     overflow: hidden;
//     padding: 0;
// }
#hero .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#hero .carousel-item::before {
    content: "";
    background-color: rgba(12, 11, 10, 0.5);
}
#hero .carousel-container,
#hero .carousel-item::before {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .carousel-content {
    text-align: center;
}
#hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 3em;
    font-weight: bold;
    position: relative;
    animation: titleHero 0.8s;
    animation-timing-function: linear;
}
@keyframes titleHero {
    from {
        top: -3em;
        opacity: 0.2;
    }

    to {
        top: 0;
        opacity: 0.8;
    }
}
#hero h2 span {
    color: #ffb03b;
}
#hero p {
    width: 80%;
    margin: 0 auto 1.5em auto;
    color: #fff;
    position: relative;
    animation: pHero 1s;
    animation-timing-function: linear;
}

@keyframes pHero {
    from {
        top: 4em;
        opacity: 0.2;
    }

    to {
        top: 0px;
        opacity: 0.8;
    }
}
#hero .carousel-inner .carousel-item {
    background-position: center top;
}
#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
    transition: 2s;
}
#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    font-size: 2em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5em;
    color: rgba(255, 255, 255, 0.5);
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
    cursor: pointer;
}

#hero .btn-about-us {
    font-weight:bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 1vh 2vw;
    border-radius: 5em;
    color: #fff;
    border: 0.2em solid #ffb03b;
    position: relative;
    animation: pHero 1.2s;
    animation-timing-function: linear;
}
@keyframes pHero {
    from {
        top: 100px;
        opacity: 0.2;
    }

    to {
        top: 0px;
        opacity: 0.8;
    }
}

#hero .btn-about-us:hover {
    background: #ffb03b;
    color: #fff;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 2em;
    }
}

@media (min-width: 1024px) {
    #hero p {
        width: 50%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
}
}
// -----------------COMMENTS------------

div.overflow {
    border: 1px solid lightgray;
    margin-top: 5vh;
    padding: 3vh;
    max-height: 50vh;
    overflow: scroll;
  }